html,
body {
    height: 100%;
}

#app {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 60px;
    /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -60px;
    /* negative value of footer height */
    height: 60px;
    clear: both;
    padding: 16px 24px;
    background-color: #fff;
    border-top: 1px solid #d3e0e9;
}

.auth-form-wrap {
    background-color: #e7e7e7;
    padding: 32px;
    margin-top: 60px;

}